.buildpath
.project
.settings/
vendor
composer.lock
phpunit.xml
phpcs.xml
.phpcs.xml
kuetemeier-essentials.sublime-project
kuetemeier-essentials.sublime-workspace
**/*.po~
**/.DS_Store
phpdocs
**/*.pot~
node_modules
